[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygal = "*"
pygal-maps-world = "*"
pygame = "*"
pycountry = "*"
cairosvg = "*"
lxml = "*"
tinycss = "*"
cssselect = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
